@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../node_modules/flowbite";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
@tailwind utilities;

@layer base {

  th, td {
    @apply text-base;
  }
}

/* For WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background: #565725;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3d3d1a;
}

.flatpickr-calendar {
    border-radius: 10px;
    border: none;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.flatpickr-day.selected {
    background: #565725;
    border-color: #565725;
}

.flatpickr-day:hover {
    background: #8a8c3a;
}

.flatpickr-months .flatpickr-month {
    background: #565725;
    color: white;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #565725;
  border-radius: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #565725;
  border-radius: 6px;
}
